@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    --cinza-escuro: #1B1B1B;
    --roxo-claro: #9D4EDD;
    --roxo-escuro: #7B2CBF;
}

body {
    overflow-x: hidden;
    background-color: #f2f2f2;
}
section {
    width: 100vw;
    height: 100vh;
}
a {
    color: var(--cinza-escuro);
}

header{
    padding: 1rem 3rem;
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, ul{
    display: flex;
    gap: 4rem;
}

ul, a{
    text-decoration: none;
    list-style: none;
}

header button{
    border: none;
    border-radius: 1rem;
    font-size: 3vh;
    padding: 1rem 2rem;
    background-color: #1c1c1c;
    color: #f2f2f2;
    cursor: pointer;
}
.logo{
    height: 3vw;
}

#hero-section{
    background-image: url(../img/bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-section h1 {
    padding-top: 20vh;
    font-size: 7.5vh;
    color: var(--cinza-escuro);
    font-weight: bolder;
}
#hero-section p {
    padding-top: 1.5rem;
    font-size: 3vh;
    color: #5A5A5A;
}

.hero-section-text{
    padding: 0px 28vw;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20vh;
}

.hero-section-text button{
    background-color: transparent;
    border: none;
    padding: 1rem;
    font-size: 3vh;
}

.hero-section-btn{
    margin-top: 3vh;
}


.hero-section-btn a{
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: #9D4EDD;
    cursor: pointer;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.hero-section-btn button{
    font-weight: bold;
    color: #f2f2f2;
    text-transform: uppercase;
    cursor: pointer;
}

.hero-section-btn i{
    border: none;
    border-radius: 0.6rem;
    background-color: #7B2CBF;
    padding: 0.6rem;
    margin-left: 1rem;
}

/* nossa equipe */

#nossa-equipe{
    margin-top: 20vh;
    padding: 0 4rem;
    text-align: center;
}

#nossa-equipe h2{
    font-size: 6vh;
    text-align: center;
}

.equipe{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
}

.pessoas{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pessoas h3{
    font-size: 4vh;
    padding-top: 2rem;
}

.profile{
    background-color: rgb(136, 136, 136);
    width: 20vh;
    height: 20vh;
    border: none;
    border-radius: 20rem;
}

#sobre-nos {
    padding-left: 20vw;
    display: flex;
    align-items: center;
}
#sobre-nos-container {
    background-color: var(--cinza-escuro);
    color: white;
    width: calc(60vw - 5rem);
    padding: 2rem 2.5rem;
    border-radius: 10px;
    box-shadow: 3px 3px 11px rgb(0, 0, 0, 0.5);
    transition: all ease-in-out 0.4s;
}
#sobre-nos-container h2 {
    font-size: 5.5vh;
    padding-bottom: 1rem;
}
#sobre-nos-container p {
    font-size: 3vh;
    padding-bottom: 2rem;
}
#sobre-nos-btn {
    background-color: var(--roxo-claro);
    padding: 0.75rem 1.5rem;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 3vh;
    box-shadow: 2px 2px 9px rgb(0, 0, 0, 0.4);
    cursor: pointer;
}

#planos-section {
    text-align: center;
}
#planos-section h2 {
    font-size: 8vh;
    padding-top: 10vh;
    padding-bottom: 1rem;
    font-weight: bolder;
}
#planos-section h4 {
    font-size: 3vh;
    padding-bottom: 10vh;
    font-weight: normal;
}
#planos-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0px 10vw;
}
.plano {
    width: calc(80vw / 3 - 4rem);
    box-shadow: 0px 10px 15px rgb(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 2rem 3rem;
}
.plano h3 {
    font-size: 5vh;
    padding-bottom: 1.5rem;
}
.plano p {
    font-size: 2.5vh;
}
.plano button {
    background-color: var(--roxo-claro);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    margin: 3rem 0px 1rem 0px;
    box-shadow: 2px 2px 9px rgb(0, 0, 0, 0.4);
}

footer{
    margin-top: 16vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem calc(50% - 3.5rem) 1.5rem 2rem;
    background-color: #1c1c1c;
    color: #f2f2f2;
}

.icons{
    display: flex;
    gap: 2rem;
}

.icons i{
    border: none;
    border-radius: 4rem;
    padding: 1rem;
    color: #1c1c1c;
    background-color: #f2f2f2;
}

@media (max-width: 1100px) { 
    .logo {
        width: 64px;
        height: 56px;
    }
    nav {
        display: none;
    }
    header {
        justify-content: center;
        gap: 0;
    }
    header button {
        display: none;
    }

    section {
        height: auto;
    }

    #hero-section {
        background-image: none;
    }
    #hero-section h1 {
        font-size: 6vh;
    }
    .hero-section-text {
        padding: 0px 8vw;
    }

    #nossa-equipe {
        padding: 0px 2rem;
    }
    .equipe {
        display: block;
    }

    #sobre-nos {
        padding-left: 0px;
        justify-content: center;
    }
    #sobre-nos-container {
        width: 90vw;
    }
    #sobre-nos-container p{
        font-size: 2.5vh;
    }

    #planos-section h2 {
        font-size: 5vh;
    }
    #planos-section h4 {
        font-size: 3vh;
    }

    #planos-container {
        display: block;
    }

    .plano {
        width: 100%;
        margin-bottom: 3rem;
    }

    footer{
        flex-direction: column-reverse;
        padding: 1.5rem 2rem;
        gap: 2.5rem;
    }
}