@font-face {
    font-family: 'Mona Sans Regular';
    src: url(/fonts/MonaSans-Regular.ttf);
}

@font-face {
    font-family: 'Mona Sans Bold';
    src: url(/fonts/MonaSans-Bold.ttf);
}


:root{
    --white-100: #FFFFFF;
    --white-200: #F2F2F2;
    --gray-100: #E6E6E6;
    --gray-200: #CBCBCB;
    --gray-300: #737373;
    --black: #0A0A0A;
    --indigo-50: #F5F3FF;
    --indigo-100: #EDE9FE;
    --indigo-200: #DDD6FE;
    --indigo-300: #C4B5FD;
    --indigo-400: #A78BFA;
    --indigo-500: #8B5CF6;
    --indigo-600: #7C3AED;
    --indigo-700: #6D28D9;
    --indigo-800: #5B21B6;
    --red-100: #FEE2E2;
    --red-200: #FECACA;
    --red-300: #FCA5A5;
    --red-600: #DC2626;
    --red-800: #991B1B;
    --amber-100: #FEF3C7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Mona Sans Regular';
    display: flex;
    flex-wrap: wrap;
    background-color: var(--indigo-50);
}

aside{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 3rem 3rem;
    height: 100%;
    width: 25rem;
    top: 0;
    bottom: 0;
    background-color: var(--white-100);
    z-index: 100;
}

.close{
    display: none;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

ul img{
    margin-bottom: 20%;
}

ul #mini-logo{
    display: none;
}

li{
    list-style: none;
}

.logo img{
    width: 100%;
}

.nav-option{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--black);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.nav-option-selected{
    background-color: var(--indigo-200);
    color: var(--indigo-600);
}

.nav-option:hover{
    background-color: var(--indigo-200);
    color: var(--indigo-600);
}

.fa-xmark{
    display: none;
}

/* ASIDE END */

main{
    position: relative;
    left: 25rem;
    width: calc(100% - 25rem);
}


.top{
    padding: 3rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.menu-bar{
    display: none;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
}

.top h1{
    font-size: 2.5rem;
}

.right{
    align-items: center;
    display: flex;
    gap: 2rem;
}

.top .input-container{
    background-color: var(--white-100);
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid var(--gray-100);
    border-radius: 0.4rem;
}

.top .input-container i{
    padding-left: 1rem;
    color: var(--gray-200);
}

.top input{
    width: 100%;
    font-size: 0.8rem;
    padding: 1rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    font-family: 'Mona Sans Regular';
}

.top input::placeholder{
    color: #929292;
}

.account .profile{
    width: 4rem;
    height: 4rem;
    background-image: url(https://www.fineshare.com/wp-content/uploads/2023/05/bonzi-buddy-text-to-speech-6-800x800.webp);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    cursor: pointer;
}

.profile-menu{
    display: none;
    position: absolute;
    padding: 2rem;
    justify-content: left;
    border-radius: 0.4rem;
    background-color: #FFF;
    top: 7.5rem;
    right: 1.8rem;
    box-shadow: 0px 10px 20px 0px rgba(100, 100, 100, 0.1);
    z-index: 9;
}

.profile-menu-content{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.profile-menu li, a{
    text-decoration: none;
    list-style: none;
    color: #212529;
}

#profile-log-out{
    width: fit-content;
    margin-top: 2rem;
    background-color: #FCE6EA;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    font-weight: bold;
    transition: all ease-in-out 0.2s;
}

#profile-log-out:hover{
    background-color: #fcd0d8;
}

#profile-log-out a{
    color: #E03150;
}

.hero{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;

    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hero-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hero h1{
    font-size: 2.5rem;
    color: #212529;
}

.squares{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.square{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 1rem;
    padding: 3rem;
    width: 40%;
    height: 20rem;
    background-color: #FFF;
    box-shadow: 0px 10px 20px rgba(134, 134, 134, 0.1);
}

.table-area{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

table {
    padding: 1rem;
    background-color: var(--white-100);
    border-radius: 0.4rem;
    border: var(--gray-100) 2px solid;
    width: 100%;
}

thead{
    border-radius: 0.4rem;
}


th, td {
    text-align: left;
    padding: 0.6rem 1rem;
}

tr td{
    padding: 1.2rem 1rem;
}

tr th{
    font-family: 'Mona Sans Regular';
    color: var(--gray-300);
}

table tr{
    border: #0A0A0A 2px solid;
}

td button{
    margin: 0 0.4rem;
}

.table-icons i{
    border-radius: 0.6rem;
}

.fa-pen-to-square{
    color: var(--black);
}

.delete-btn{
    padding: 0.6rem;
    border: none;
    background-color: #f8f9fa;
    color: var(--black);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.update-btn-icon{
    padding: 0.6rem;
    border: none;
    background-color: #f8f9fa;
    color: var(--black);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.update-btn-icon:hover{
    background-color: #d6d6d6;
}

.delete-btn:hover{
    background-color: var(--red-100);
    color: var(--red-800);
}

.add-table-row{
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    border-radius: 4rem;
    border: none;
    background-color: var(--indigo-500);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.add-table-row:hover{
    box-shadow: 0px 10px 15px -3px var(--indigo-400);
}

.add-table-row i{
    padding: 1.6rem;
    color: var(--white-100);
}

.add-form{
    display: none;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--white-100);
    width: 30vw;
    height: 100%;
    border-radius: 0px 0px 0px 14px;
    -webkit-border-radius: 0px 0px 0px 14px;
    -moz-border-radius: 0px 0px 0px 14px;
    z-index: 30;
}


.add-form form{
    padding-top: 4rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: var(--white-100);
    z-index: 20;
}

.add-form-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-form-title span{
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.add-form-title span:hover{
    background-color: var(--gray-100);
}

.add-form h1{
    font-size: 2rem;
}

.add-form input{
    font-family: 'Mona Sans Regular';
    margin-bottom: 1.2rem;
    padding: 0.6rem;
    border: 1px solid var(--gray-100);
    border-radius: 0.2rem;
    outline: none;
}

.add-form p{
    border-radius: 0.8rem;
    padding: 1rem;
    background-color: var(--red-100);
    color: var(--red-800);
}

.add-form label{
    margin-bottom: 0.6rem;
}

.confirm-btn{
    cursor: pointer;
    font-family: inter;
    border: none;
    color: var(--white-100);
    background-color: var(--indigo-600);
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    transition: all 0.2s ease-in-out;
}

.confirm-btn:hover{
    opacity: 80%;
}

.cancel-btn{
    padding: 0.8rem 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    opacity: 60%;
    transition: all 0.2s ease-in-out;
    border-radius: 0.4rem;
}

.cancel-btn:hover{
    background-color: var(--gray-100);
}

#close-form{
    padding: 0.8rem 2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    opacity: 60%;
    transition: all 0.2s ease-in-out;
}

#close-form:hover{
    opacity: 100%;
}

.edit-form{
    display: none;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 4rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--white-100);
    width: 30vw;
    height: 100%;
    border-radius: 0px 0px 0px 14px;
    -webkit-border-radius: 0px 0px 0px 14px;
    -moz-border-radius: 0px 0px 0px 14px;
    animation: transform 0.3s ease-in;
    z-index: 20;
}


.edit-form form{
    padding-top: 4rem;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.edit-form h1{
    font-size: 2rem;
}

.edit-form input{
    font-family: 'Mona Sans Regular';
    margin-bottom: 1.2rem;
    padding: 0.6rem;
    border: 1px solid var(--gray-100);
    border-radius: 0.2rem;
    outline: none;
}

.edit-form label{
    margin-bottom: 0.6rem;
}

.form-btns{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/* Mensagem de Erro */
.error-message{
    border: 3px solid var(--red-300);
    border-radius: 1rem;
    display: none;
    align-items: center;
    padding: 1.6rem;
    background-color: var(--red-200);
    color: var(--red-800);
    height: 6rem;
    width: 30%;
    right: 10px;
    bottom: 10px;
    position: absolute;
}

.error-message-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.error-message-content p{
    font-size: 1.2rem;
    font-weight: bold;
}

.error-message-content ion-icon{
    font-size: 1.4rem;
    background-color: var(--red-600);
    color: var(--white-100);
    padding: 0.4rem;
    border-radius: 50%;
}


/* Display das Tabelas */
#visao-geral,
#funcionarios,
#clientes,
#fabricantes,
#componentes,
#estoque,
#entradas,
#ordemServico,
#saidas{
    display: none;
}

/* Responsividade */
@media (max-width: 1370px) {

    aside{
        width: 10rem;
        padding: 2rem 2rem;
    }

    aside ul{
        align-items: center;
    }

    aside span{
        display: none;
    }

    aside img{
        display: none;
    }

    aside #mini-logo{
        display: block;
        width: 4rem;
        height: 4rem;
    }

    main{
        width: calc(100% - 10rem);
    }

    .square h3{
        font-size: 1rem;
    }

    .add-form{
        width: 40vw;
    }

    .edit-form{
        width: 40vw;
    }

}

@media (max-width: 900px) {
    
    main{
        margin-left: 0;
    }

    .aside{
        display: none;
        background-color: var(--white-100);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        align-items: start;
        padding: 4rem 2rem;
    }

    .aside ul{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .aside #mini-logo{
        display: none;
    }

    .aside span{
        display: block;
    }

    .fa-xmark{
        display: block;
        padding: 1rem 0rem;
    }

    .top{
        padding: 3rem 2rem;
        gap: 2rem;
    }

    .top h1{
        display: none;
    }

    .top .menu-bar{
        display: block;
    }

}   