@font-face {
    font-family: 'Mona Sans Regular';
    src: url(/public/fonts/MonaSans-Regular.ttf);
}

@font-face {
    font-family: 'Mona Sans Bold';
    src: url(/public/fonts/MonaSans-Bold.ttf);
}

:root{
    --white-100: #FFFFFF;
    --white-200: #F2F2F2;
    --gray-100: #CBCBCB;
    --gray-200: #737373;
    --black: #0A0A0A;
    --indigo-50: #F5F3FF;
    --indigo-100: #EDE9FE;
    --indigo-200: #DDD6FE;
    --indigo-300: #C4B5FD;
    --indigo-400: #A78BFA;
    --indigo-500: #8B5CF6;
    --indigo-600: #7C3AED;
    --indigo-700: #6D28D9;
    --indigo-800: #5B21B6;
    --red-100: #FEE2E2;
    --red-200: #FECACA;
    --red-300: #FCA5A5;
    --red-600: #DC2626;
    --red-800: #991B1B;
    --amber-100: #FEF3C7;
}

    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background-color: var(--white-100);
    }

    .container{
        font-family: 'Mona Sans Regular';
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .left{
        width: 50%;
        height: 100%;
        background-image: url(/public/img/login.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .right{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form{
        padding: 4em;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
    }

    .form-text{
        color: var(--black);
        text-align: center;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .form-text h1{
        font-family: 'Mona Sans Bold';
        font-size: 2.4rem;
    }

    .form-text p{
        font-size: 1.2rem;
        opacity: 60%;
    }

    .input-information{
        font-weight: bold;
        padding: 1em 0em;
        display: flex;
        flex-direction: column;
        gap: 0.4em;
    }

    .input-information label{
        font-weight: bold;
    }

    .input-information input{
        font-family: inter;
        font-size: 1rem;
        border-radius: 0.4em;
        padding: 0.6em 1em;
        border: 1px solid var(--gray-100);
        outline: none;
        transition: all ease 0.1s;
    }

    .input-information input:focus{
        border: 1px solid var(--black);
    }

    .input-information input::placeholder{
        color: #bababa;
    }

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        border-radius: 0.4em;
        font-weight: bold;
        font-size: 1em;
        font-family: inter;
        color: #FFF;
        border: none;
        background-color: var(--indigo-600);
        margin-top: 10%;
        padding: 1em 0em;
        transition: all 0.3s;
        cursor: pointer;
    }

    button:hover{
        opacity: 90%;
    }

    .loader {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite
      }
      .loader::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 3px solid #FFF;
        animation: prixClipFix 2s linear infinite ;
      }
  
      @keyframes rotate {
        100%   {transform: rotate(360deg)}
      }
  
      @keyframes prixClipFix {
          0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
          25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
          50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
          75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
          100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
      }


    @media (max-width: 600px){
        form{
            box-shadow: none;
            padding: 2em;
        }
    }