@font-face {
    font-family: 'Mona Sans Regular';
    src: url(/public/fonts/MonaSans-Regular.ttf);
}

@font-face {
    font-family: 'Mona Sans Bold';
    src: url(/public/fonts/MonaSans-Bold.ttf);
}

:root{
    --white-100: #FFFFFF;
    --white-200: #F2F2F2;
    --gray-100: #CBCBCB;
    --gray-200: #737373;
    --black: #0A0A0A;
    --indigo-50: #F5F3FF;
    --indigo-100: #EDE9FE;
    --indigo-200: #DDD6FE;
    --indigo-300: #C4B5FD;
    --indigo-400: #A78BFA;
    --indigo-500: #8B5CF6;
    --indigo-600: #7C3AED;
    --indigo-700: #6D28D9;
    --indigo-800: #5B21B6;
    --red-100: #FEE2E2;
    --red-200: #FECACA;
    --red-300: #FCA5A5;
    --red-600: #DC2626;
    --red-800: #991B1B;
    --amber-100: #FEF3C7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}
.container{
    background-color: var(--indigo-50);
    font-family: 'Mona Sans Regular';
    width: 100vw;
    height: 100vh;
    display: flex;
}

.aside{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    height: 100vh;
    background-color: var(--white-100);
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

ul h3{
    font-size: 1.8rem;
}

.nav-title{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--gray-200);
}

.nav-title ion-icon{
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.8rem;
    color: var(--gray-200);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.nav-title a{
    width: fit-content;
    text-decoration: none;
}

.nav-title ion-icon:hover{
    background-color: #f2f2f2;
}

.nav-options a{
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.nav-options a{
    width: fit-content;
    color: var(--preto);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.profile{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.profile-top{
    padding: 1rem 4rem;
    height: 20vh;
    background-color: var(--indigo-700);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-img ion-icon{
    position: absolute;
    top: 6rem;
    width: 5rem;
    height: 5rem;
    background-color: #FFF;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 2rem;
    border-radius: 1rem;
    color: var(--indigo-600);
}

.profile-info{
    margin-top: 5%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.profile-info h1{
    font-size: 2rem;
}

.info-field{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.info-title{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.info{
    border-top: var(--gray-100) 1px solid;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.infos .info p{
    border-radius: 0.4rem;
    padding: 1rem;
    width: 40%;
    background-color: var(--indigo-100);
}